<!DOCTYPE html>
<#include "header.html">

<body>
    <!-- start: Header -->
    <#include "header-menu.html">
    <!-- start: Header -->

    <div class="container-fluid-full">
        <div class="row-fluid">

            <!-- start: Main Menu -->
            <#include "left-menu.html">
            <!-- end: Main Menu -->


            <!-- start: Content -->
            <div id="content" class="span10">


                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="/index">Home</a> 
                        <i class="icon-angle-right"></i>
                    </li>
                    <li><a href="#">Dashboard</a></li>
                </ul>
                
                
                
            <!-- end: Content -->
            </div><!--/#content.span10-->
        </div><!--/fluid-row-->

<#include "footer.html">