<!DOCTYPE html>
<#include "header.html">

<body>
    <!-- start: Header -->
    <#include "header-menu.html">
    <!-- start: Header -->

    <div class="container-fluid-full">
        <div class="row-fluid">

            <!-- start: Main Menu -->
            <#include "left-menu.html">
            <!-- end: Main Menu -->
            <!-- start: Content -->
            <div id="content" class="span10">


                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="/index">Home</a> 
                        <i class="icon-angle-right"></i>
                    </li>
                    <li><a href="#">Admin</a></li>
                </ul>
                <!--Table-->	
                <div class="box span11" >
                    <div class="box-header" data-original-title>
                        <h2><i class="halflings-icon white user"></i><span class="break"></span>Members</h2>
                        <div class="box-icon">
                            <a href="/newadmin" class="btn-default" style="color: whitesmoke;"><i class="halflings-icon white plus"></i>Add New</a>
                        </div>
                    </div>
                    <div class="box-content">
                        <table class="table table-striped table-bordered bootstrap-datatable datatable">
                            <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Role</th>
                                    <th>Time Login</th>
                                    <th>IP Login</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead> 
                            <tbody>
                                <#if members?has_content>
                                <#list members as m>
                                <tr>
                                    <td class="center">${m.getUserName()}</td>
                                    <td class="center">${m.getType()}</td>
                                    <td class="center">${m.getTimeLogin()}</td>
                                    <td class="center">${m.getIpClient()}</td>
                                    <td class="center">
                                        <#if m.getLastActivity() != 0>
                                        <span class="label label-success">Active</span>
                                        <#else>
                                        <span class="label label-important">Banned</span>
                                        </#if>
                                    </td>
                                    <td class="center">
                                        <a class="btn btn-success" href="/view/${m.getId()}">
                                            <i class="halflings-icon white zoom-in"></i>  
                                        </a>
                                        <a class="btn btn-info" href="/edit/${m.getId()}">
                                            <i class="halflings-icon white edit"></i>  
                                        </a>
                                            <!--<a class="btn btn-danger" href="#">-->
                                            <a class="btn btn-danger" href="/delete_admin/${m.getId()}">
                                            <i class="halflings-icon white trash"></i> 
                                        </a>
                                    </td>
                                </tr>

                                </#list>
                                </#if>
                            </tbody>
                        </table>            
                    </div>
                </div>

                <!--Enf Table-->

                <!-- end: Content -->
            </div><!--/#content.span10-->
        </div><!--/fluid-row-->
        <div class="modal hide fade" id="myModal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>Settings</h3>
            </div>
            <div class="modal-body">
                <p>Here settings can be configured...</p>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">Close</a>
                <a href="#" class="btn btn-primary">Delete</a>
            </div>
        </div>
        <#include "footer.html">