<!DOCTYPE html>
<#include "header.html">

<body>
    <!-- start: Header -->
    <#include "header-menu.html">
    <!-- start: Header -->

    <div class="container-fluid-full">
        <div class="row-fluid">

            <!-- start: Main Menu -->
            <#include "left-menu.html">
            <!-- end: Main Menu -->


            <!-- start: Content -->
            <div id="content" class="span10">


                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="/index">Home</a> 
                        <i class="icon-angle-right"></i>
                    </li>
                    <li><a href="#">Profile</a></li>
                </ul>
                <div class="box span11">
                    <div class="box-header" data-original-title>
                        <h2><i class="halflings-icon white user"></i><span class="break"></span>Detail</h2>
                        <!--<div class="box-icon">
                            <a href="#" class="btn-link" style="color: white"><i class="halflings-icon white wrench"></i>edit</a>
                        </div>-->
                    </div>
                    <div class="box-content">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Provider Name</th>
                                    <th>Domain</th>
                                    <th>Type</th>
                                    <th>Package</th>
                                    <th>Date Start</th>
                                    <th>Date End</th>
                                    <th>Actions</th>
                                </tr>
                            </thead> 
                            <tbody>
                                <tr>
                                    <td class="center">${provider.getName()}</td>
                                    <td class="center">${provider.getDomain()}</td>
                                    <td class="center">${provider.getType()}</td>
                                    <td class="center">${provider.getPackageId()}</td>
                                    <td class="center">${provider.getTimeCreate()}</td>
                                    <td class="center">${provider.getTimeExpire()}</td>
                                    <td class="center">
                                       <!-- <a class="btn btn-info" href="/edit">
                                            <i class="halflings-icon white edit"></i>  
                                        </a>-->
                                    </td>
                                </tr>
                            </tbody>
                        </table>            
                    </div>
                </div>
                <div class="box span11">
                    <div class="box-header">
                        <h2><i class="halflings-icon white font"></i><span class="break"></span>customer Detail</h2>
                    </div>
                    <div class="box-content">                         

                        <div class="row-fluid">
                            <div class="span12">
                                <h2>Example use of Tooltips</h2>
                                <p>Hover over the links below to see tooltips:</p>
                                <div class="tooltip-demo well">
                                    <p class="muted" style="margin-bottom: 0;">Tight pants next level keffiyeh <a href="#" data-rel="tooltip" data-original-title="first tooltip">you probably</a> haven't heard of them. Photo booth beard raw denim letterpress vegan messenger bag stumptown. Farm-to-table seitan, mcsweeney's fixie sustainable quinoa 8-bit american appadata-rel <a href="#" data-rel="tooltip" data-original-title="Another tooltip">have a</a> terry richardson vinyl chambray. Beard stumptown, cardigans banh mi lomo thundercats. Tofu biodiesel williamsburg marfa, four loko mcsweeney's cleanse vegan chambray. A <a href="#" data-rel="tooltip" data-original-title="Another one here too">really ironic</a> artisan whatever keytar, scenester farm-to-table banksy Austin <a href="#" data-rel="tooltip" data-original-title="The last tip!">twitter handle</a> freegan cred raw denim single-origin coffee viral.
                                    </p>
                                </div>                                  
                            </div>
                        </div>	 
                    </div>
                </div>
                <!-- end: Content -->
            </div><!--/#content.span10-->
        </div><!--/fluid-row-->
        <#include "footer.html">